{% extends 'layout.html' %}
{% block content %}
   <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">标题：</label>
            <input type="text" name="title" id="title" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="editor_id">内容：</label>
            <textarea id="editor_id" name="content" >

            </textarea>
            <span class="error"></span>
        </div>

         <!--标签,分类，后续补充-->
{#        <div class="form-group">#}
{#            <label for="tag">标签：</label>#}
{#            <input type="checkbox" name="tag" id="tag" class="form-control">#}
{##}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="kind">分类：</label>#}
{#            <input type="checkbox" name="kind" id="kind" class="form-control">#}
{##}
{#        </div>#}
        <input type="submit" class="btn btn-primary pull-right" value="保存">
    </form>
    <script>
        // 富文本编辑器
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id',{
                    width:"870px",
                    height:"300px",
                    resizeType:0,
                    uploadJson:"/upload/",
                    extraFileUploadParams:{
                        csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                    },
                    filePostName:"upload_img",
                    // 上传图片、文件成功后预览在编辑器里
                    afterUpload : function(url) {

                        }

                });
        });


    </script>
{% endblock %}