{% extends 'layout.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">标题：</label>
            <input type="text" name="title" id="title" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="editor_id">内容：</label>
            <textarea id="editor_id" name="content" >

            </textarea>
            <span class="error"></span>
        </div>
        <input type="submit" class="btn btn-primary pull-right" value="保存">
    </form>
    <script>



    </script>
{% endblock %}