<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保利威视频测试</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>

</head>
<body>
<div id="player"></div>
<script src="//player.polyv.net/script/player.js"></script>
<script>
    var player = polyvPlayer({
        wrap: '#player',
        width: 800,
        height: 533,
        vid: '2f57a436189b03930638e752c9a3761e_2',  // 视频id，对应账号里的视频id
        playsafe: function (vid, next) {
            axios.request({
                url: "http://localhost:8000/blv/polyv",
                method: "POST",
                data: {
                    vid: vid
                }
            }).then(function (data) {
                console.log(data.data);
                next(data.data.token);
            })
        }
    });
</script>
</body>
</html>